<style>
table {
    font-size: 10pt;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}

td {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    padding: 5px;
}
</style>

<table style="font-size:10pt;">
    <tbody *ngIf="stops != null">
        <tr *ngFor="let result of stops.stops; let i = index">
            <td><a style="color:black" [routerLink]="['/trip/', tripId, 'stop', i+1]">{{result.description}}</a></td>
            <td>{{result.stopType}}</td>
        </tr>
    </tbody>
</table>
