<div style="background-color: #f5f5f5; padding: 10px;">
    <p style="font-size: 20px; font-weight: bold;">{{SingleStop.description}}</p>   
    <p style="font-size: 16px; margin-bottom: 5px;">Stop Type: {{SingleStop.stopType}}</p>
    <p style="font-size: 16px; margin-bottom: 5px;">Rating: {{SingleStop.review}}</p>   
    <p style="font-size: 16px; margin-bottom: 5px;">Address: {{SingleStop.address}}</p>    
    <button style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; "
     [routerLink]="['/trip/', tripId]">      
        <a style="color: #fff; text-decoration: none;">Back</a>    
    </button>
</div>