<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div style="background-color: #f5f5f5; padding: 10px;">
                <p style="font-size: 20px; font-weight: bold;">{{SingleStop.description}}</p>   
                <p style="font-size: 16px; margin-bottom: 5px;">Stop Type: {{SingleStop.stopType}}</p>
                <p style="font-size: 16px; margin-bottom: 5px;">Rating: {{SingleStop.review}}</p>   
                <p style="font-size: 16px; margin-bottom: 5px;">Address: {{SingleStop.address}}</p>    
            </div>
        </div>
        <div class="col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1403.742952952347!2d-122.3320616!3d47.6062189!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x569fed3b7c0b6f51!2sSeattle%2C+WA!5e0!3m2!1sen!2sus!4v1562324731497!5m2!1sen!2sus" 
            width="600" height="600" frameborder="0" style="border:0" > 
            </iframe>
        </div>
    </div>
</div>
<button style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; "
[routerLink]="['/trip/', tripId]">      
    <a style="color: #fff; text-decoration: none;">Back</a>    
</button>