<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <title>Road Trip Assister</title>
    <style>
       table {
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th,
        td {
            text-align: left;
            padding: 8px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Trips Table</h3>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Stop Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <app-stops [stops]="Stops" [tripId]="tripId"></app-stops>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1403.742952952347!2d-122.3320616!3d47.6062189!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x569fed3b7c0b6f51!2sSeattle%2C+WA!5e0!3m2!1sen!2sus!4v1562324731497!5m2!1sen!2sus" 
                width="600" height="600" frameborder="0" style="border:0" > 
                </iframe>
            </div>
        </div>
    </div>

</body>

<button style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; "
[routerLink]="['/trip/']">      
   <a style="color: #fff; text-decoration: none;">Back</a>
</button>