<div class="container" >
	<div class="panel panel-default" style="border-width: 0px; border-style:solid">
		<div class="panel-default">
			<h3>Active Trips</h3>
		</div>
		<br>
		<div>
			<div class="panel panel-heading" style="border-width: 1px; border-style:solid; border-color:gray;" 
			*ngFor="let result of (tripObservable | async); let i = index">
				<!-- Default panel contents -->

				<app-trip-table [trip]="result" [index]="i"></app-trip-table>
				<!-- Table -->
			</div>
		</div>
	</div>
</div>